<!doctype html>
<html>

<!-- codeface  -->
<!--  <head lang="en" th:replace="/fragments/header :: header"> </head> -->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="resources/assets/media/image/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="stylesheet" href="resources/assets/media/image/favicon.png">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <style>
	.password-verdict{
		color:#000;
	}
	</style>
    <script th:src="@{/resources/pwstrength.js}"></script>
    <!-- Plugin styles -->
    <link rel="stylesheet" href="resources/vendors/bundle.css" type="text/css">
    <!-- App styles -->
   <link rel="stylesheet" href="resources/assets/css/app.min.css" type="text/css">
   <title th:text="#{message.changePassword}">change password</title>

</head>

<body class="form-membership">
<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
</div>
<!-- end::page loader -->

<div class="form-wrapper">
    <a href="?lang=en" th:text="#{label.form.loginEnglish}">login</a> | 
    <a href="?lang=es_ES" th:text="#{label.form.loginSpanish}">login</a>
    <!-- logo -->
    <div class="logo">
        <img src="resources/assets/media/image/logo-sm.png" alt="image">
    </div>
    <!-- ./ logo -->
    <div id="errormsg" class="alert alert-danger" style="display:none"></div>
    
    <h5 th:text="#{message.changePassword}">change password </h5>
    <form >
        
        <div class="form-group">
           
            <input class="form-control" id="oldpass" th:placeholder="#{label.user.oldPassword}" name="oldPassword" type="password" value="" required autofocus/>
           
        </div>
        
        <div class="form-group">
            <input class="form-control" id="password" th:placeholder="#{label.user.newPassword}" name="newPassword" type="password" value="" />
            <div class="col-sm-12"></div>
        </div>
        
        <div class="form-group">
            <input class="form-control" id="matchPassword" th:placeholder="#{label.user.confirmPass}" name="matchingPassword" type="password" value="" />
            <div class="col-sm-12"></div>
        </div>
        
        <div class="form-group">
        	<div id="globalError" class="alert alert-danger col-sm-12" style="display:none">error</div>
        </div>
        
        <button class="btn btn-primary" type="submit" onclick="savePass()" th:text="#{message.changePassword}">change
                </button>
                
                <a class="btn btn-primary" th:href="@{/home.html}" th:text="#{label.pages.home.title}">Back to Home</a>
        
            </form>

    

</div>
<!-- <div lang="en" th:replace="/fragments/footer :: footer"> </div> -->
<!-- Plugin scripts -->
<!-- App scripts -->
<script src="resources/assets/js/app.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
    $('form').submit(function(event) {
    	savePass(event);
    });
    
    $(":password").keyup(function(){
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        }else{
            $("#globalError").html("").hide();
        }
    });
    
    options = {
            common: {minChar:8},
            ui: {
                showVerdictsInsideProgressBar:true,
                showErrors:true,
                errorMessages:{
                      wordLength: /*[[#{error.wordLength}]]*/,
                      wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                      wordSequences: /*[[#{error.wordSequences}]]*/,
                      wordLowercase: /*[[#{error.wordLowercase}]]*/,
                      wordUppercase: /*[[#{error.wordUppercase}]]*/,
                      wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                      wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                    }
                }
        };
     $('#password').pwstrength(options);
});

function savePass(event){
    event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/updatePassword",formData ,function(data){
    	window.location.href = serverContext + "home.html" + "?message="+data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
            $("#errormsg").show().append(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            $("#errormsg").show().append(data.responseJSON.message);
        }
        else{
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                $("#globalError").show().html(item.defaultMessage);
            });
            errors = $.parseJSON(data.responseJSON.error);
            $.each( errors, function( index,item ){
                $("#globalError").show().append(item.defaultMessage+"<br/>");
            });
        }
    });
}

</script>
</body>

<!-- codeface  -->
</html>
