<!doctype html>
<html lang="en">

<!-- codeface  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> User panal </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="resources/assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="resources/vendors/bundle.css" type="text/css">

    <!-- Datepicker -->
    <link rel="stylesheet" href="resources/vendors/datepicker/daterangepicker.css">

    <!-- Slick -->
    <link rel="stylesheet" href="resources/vendors/slick/slick.css">
    <link rel="stylesheet" href="resources/vendors/slick/slick-theme.css">

    <!-- Vmap -->
    <link rel="stylesheet" href="resources/vendors/vmap/jqvmap.min.css">

    <!-- App styles -->
    <link rel="stylesheet" href="resources/assets/css/app.min.css" type="text/css">
    <link rel="stylesheet" href="themify-icons.css">
</head>
<body>

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
</div>
<!-- end::page loader -->

<!-- begin::sidebar user profile -->
<div class="sidebar" id="userProfile">
    <div class="text-center p-4">
        <figure class="avatar avatar-state-success avatar-lg mb-4">
            <img src="resources/assets/media/image/avatar.jpg" class="rounded-circle" alt="image">
        </figure>
        <h4 class="text-primary"><a class="btn btn-default" th:href="@{/admin.html}" th:text="#{label.pages.admin}">admin</a></h4>
        <p class="text-muted d-flex align-items-center justify-content-center line-height-0 mb-0">
            <a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a>
        </p>
        
    </div>
    <hr class="m-0">
    <div class="p-4">
      
      
      <br/>
      
      
        <div class="mb-4">
            
            <div th:if="${#authentication.principal.using2FA}">
        		<h6>You are using Two-step authentication</h6> 
        		<a href="#" class="btn btn-primary" onclick="disable2FA()">Disable 2FA</a> 
      		</div>
        
      		<div th:if="${! #authentication.principal.using2FA}">
        		<h6>You are not using Two-step authentication </h6>
        		<a href="#" class="btn btn-primary" onclick="enable2FA()">Enable 2FA</a> 
      		</div>
        </div>
        <div class="mb-4">
            <h6 class="text-uppercase font-size-11 mb-3">
                Scan this Barcode using Google Authenticator app on your phone
                
            </h6>
           	<div id="qr" style="display:none;">
	          <p> 
	                 <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and 
	                 <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
	          </p>
      </div>
        </div>
        
    </div>
</div>
<!-- end::sidebar user profile -->

<!-- begin::sidebar settings -->
<div class="sidebar" id="settings">
    <header>
        <i class="ti-settings"></i> Settings
    </header>
    <div class="p-4">
        <div class="mb-3">
            <h6 class="text-uppercase font-size-11 mb-3 text-muted">Sample settings</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Sample updates</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Sample updates</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                        <label class="custom-control-label" for="customSwitch2"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Sample updates</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                        <label class="custom-control-label" for="customSwitch3"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <h6 class="text-uppercase font-size-11 mb-3 text-muted">Account</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Server security</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch4">
                        <label class="custom-control-label" for="customSwitch4"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Account protection</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5" checked>
                        <label class="custom-control-label" for="customSwitch5"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <h6 class="text-uppercase font-size-11 mb-3 text-muted">Notifications</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Browser notifications</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch6">
                        <label class="custom-control-label" for="customSwitch6"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Mobile notifications</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch7">
                        <label class="custom-control-label" for="customSwitch7"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Email subscription</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch8">
                        <label class="custom-control-label" for="customSwitch8"></label>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between p-l-r-0 p-t-b-5">
                    <span>Sms notifications</span>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch9" checked>
                        <label class="custom-control-label" for="customSwitch9"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end::sidebar settings -->

<!-- begin::navigation -->
<div class="navigation">
    <div class="navigation-icon-menu">
        <ul>
            <li class="active" data-toggle="tooltip" title="Dashboard">
                <a href="#navigationDashboards" title="Dashboards">
                    <i class="icon ti-pie-chart"></i>
                    <span class="badge badge-warning">2</span>
                </a>
            </li>
            <li data-toggle="tooltip" title="Apps">
                <a href="#navigationApps" title="Apps">
                    <i class="icon ti-package"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="Plugins">
                <a href="#navigationPlugins">
                    <i class="icon ti-brush-alt"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="Elements">
                <a href="#navigationElements">
                    <i class="icon ti-layers"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="Pages">
                <a href="#navigationPages" title="User Pages">
                    <i class="icon ti-user"></i>
                </a>
            </li>
        </ul>
        <ul>
            <li data-toggle="tooltip" title="Edit Profile">
                <a href="#" class="go-to-page">
                    <i class="icon ti-settings"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="Logout">
                <a href="login.html" class="go-to-page">
                    <i class="icon ti-power-off"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navigation-menu-body">
        <ul id="navigationDashboards" class="navigation-active">
            <li class="navigation-divider">DASHBOARD</li>
            <!-- <li>
                <a class="active" href="index.html">Sample text</a>
            </li>
            <li>
                <a href="dashboard-two.html">Sample text <span class="badge badge-warning">2</span></a>
            </li>
            <li>
                <a href="dashboard-three.html">Sample text </a>
            </li>
            <li class="navigation-divider">Sample text</li>
            <li>
                <a href="widgets.html">Sample text</a>
            </li>
            <li class="navigation-divider">Sample text</li>  -->
            <li>
                <a href="#">
                    <div class="d-flex align-items-center mb-2">
                        <div>
                            <div class="icon-block bg-warning text-white mr-3">
                                <i class="ti-harddrives"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="text-uppercase font-size-11">Total Size</h6>
                            <h4 class="m-b-0">32 GB</h4>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="d-flex align-items-center mb-2">
                        <div>
                            <div class="icon-block bg-success text-white mr-3">
                                <i class="ti-harddrive"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="text-uppercase font-size-11">Used</h6>
                            <h4 class="m-b-0">10 GB</h4>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="icon-block bg-info text-white mr-3">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="text-uppercase font-size-11">Bandwidth</h6>
                            <h4 class="m-b-0">( 12/50 GB )</h4>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <ul id="navigationApps">
            <li class="navigation-divider">Apps</li>
            <li>
                <a href="chat.html">Sample text</a>
            </li>
            <li>
                <a href="inbox.html">Sample text</a>
            </li>
            <li>
                <a href="calendar.html">Sample text</a>
            </li>
            <li>
                <a href="gallery.html">Sample text</a>
            </li>
            <li class="navigation-divider">Sample text</li>
          
        </ul>
        <ul id="navigationPlugins">
            <li class="navigation-divider">Sample text</li>
            <li><a href="sweet-alert.html">Sample text</a></li>
            <li><a href="lightbox.html">Sample text </a></li>
            <li><a href="toast.html">Sample text </a></li>
            <li><a href="tour.html">Sample text </a></li>
            <li><a href="slick-slide.html">Sample text </a></li>
            <li><a href="nestable.html">Sample text </a></li>
            <li>
                <a href="charts.html">Sample texts</a>
                <ul>
                    <li><a href="chart-apex.html">Sample text</a></li>
                    <li><a href="chartjs.html">Sample text</a></li>
                    <li><a href="chart-justgage.html">Sample text</a></li>
                    <li><a href="chart-morsis.html">Sample text</a></li>
                    <li><a href="chart-peity.html">Sample text</a></li>
                </ul>
            </li>
           
        </ul>
    </div>
</div>
<!-- end::navigation -->

<!-- begin::header -->
<div class="header">

    <!-- begin::header logo -->
    
    <div class="header-logo">
        <a href="index.html">
            <img class="large-logo" src="resources/assets/media/image/logo.png" alt="image">
            <img class="small-logo" src="resources/assets/media/image/logo-sm.png" alt="image">
            <img class="dark-logo" src="resources/assets/media/image/logo-dark.png" alt="image">
        </a>
    </div>
    <!-- end::header logo -->

    <!-- begin::header body -->
    <div class="header-body">

        <div class="header-body-left">

            <h3 class="page-title">Welcome Console</h3>

            <!-- begin::breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin Panel</a></li>
                   
                </ol>
            </nav>
            <!-- end::breadcrumb -->

        </div>

        <div class="header-body-right">
            <!-- begin::navbar main body -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search image">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
               
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" data-toggle="dropdown" style="width:110px;">
                        <i class="ti-pencil-alt "></i>&nbsp;Create
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center" data-backround-image="resources/assets/media/image/image1.png">
                            <h6 class="text-uppercase m-b-0">Create </h6>
                           
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a href="#" class="p-3 list-group-item d-flex link-1 hide-show-toggler serv_s1">
                                        <div>
                                            <figure class="avatar avatar-sm m-r-10">
                                                <span class="avatar-title bg-success rounded-circle"> <i class="ti-bolt" style="font-size: 21px;"></i></span>
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="m-b-0 m-t-10 d-flex justify-content-between">
                                                Create New Droplet
                                                <i title="Make unread" data-toggle="tooltip"
                                                   class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="p-3 list-group-item d-flex link-1 hide-show-toggler serv_s1 ">
                                        <div>
                                            <figure class="avatar avatar-sm m-r-10">
                                                <span class="avatar-title bg-success rounded-circle"> <i class="ti-bolt" style="font-size: 21px;"></i></span>
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="m-b-0 m-t-10 d-flex justify-content-between">
                                                Create New Droplet
                                                <i title="Make unread" data-toggle="tooltip"
                                                   class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                               <li>
                                    <a href="#" class="p-3 list-group-item d-flex link-1 hide-show-toggler serv_s1">
                                        <div>
                                            <figure class="avatar avatar-sm m-r-10">
                                                <span class="avatar-title bg-success rounded-circle"> <i class="ti-bolt" style="font-size: 21px;"></i></span>
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="m-b-0 m-t-10 d-flex justify-content-between">
                                                Create New Droplet
                                                <i title="Make unread" data-toggle="tooltip"
                                                   class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="p-3 list-group-item d-flex link-1 hide-show-toggler serv_s1">
                                        <div>
                                            <figure class="avatar avatar-sm m-r-10">
                                                <span class="avatar-title bg-success rounded-circle"> <i class="ti-bolt" style="font-size: 21px;"></i></span>
                                            </figure>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="m-b-0 m-t-10 d-flex justify-content-between">
                                                Create New Droplet
                                                <i title="Make unread" data-toggle="tooltip"
                                                   class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                            </h6>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <i class="ti-bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center" data-backround-image="resources/assets/media/image/image1.png">
                            <h6 class="text-uppercase m-b-0">Notifications</h6>
                            <small class="font-size-11 opacity-7">2 unread notifications</small>
                        </div>
                        <div class="p-3">
                            <div class="timeline">
                                <div class="timeline-item">
                                    <div>
                                        <figure class="avatar avatar-state-danger avatar-sm m-r-15 bring-forward">
                                            <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                <i class="fa fa-file-text-o font-size-20"></i>
                                            </span>
                                        </figure>
                                    </div>
                                    <div>
                                        <p class="m-b-5">
                                            <a href="#">Kevin added</a> new attachment to the ticket
                                            <a href="#">Software Bug Reporting</a>
                                        </p>
                                        <small class="text-muted">
                                            <i class="fa fa-clock-o m-r-5"></i> 8 hours ago
                                        </small>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div>
                                        <figure class="avatar avatar-state-danger avatar-sm m-r-15 bring-forward">
                                            <span class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                <i class="fa fa-money font-size-20"></i>
                                            </span>
                                        </figure>
                                    </div>
                                    <div>
                                        <p class="m-b-5">
                                            <a href="#">Katherine</a> submitted new ticket
                                            <a href="#">Payment Method</a>
                                        </p>
                                        <small class="text-muted">
                                            <i class="fa fa-clock-o m-r-5"></i> Yesterday
                                        </small>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15 bring-forward">
                                            <span class="avatar-title bg-success-bright text-success rounded-circle">
                                                <i class="fa fa-dollar font-size-20"></i>
                                            </span>
                                        </figure>
                                    </div>
                                    <div>
                                        <p class="m-b-5">
                                            <a href="#">Katherine</a> changed settings to ticket category
                                            <a href="#">Payment & Invoice</a>
                                        </p>
                                        <small class="text-muted">
                                            <i class="fa fa-clock-o m-r-5"></i> 1 days ago
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 text-right">
                            <ul class="list-inline small">
                                <li class="list-inline-item">
                                    <a href="#">Mark All Read</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link bg-none" data-sidebar-open="#userProfile">
                        <div>
                            <figure class="avatar avatar-state-success avatar-sm">
                                <img src="resources/assets/media/image/avatar.jpg" class="rounded-circle" alt="image">
                            </figure>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- end::navbar main body -->

            <div class="d-flex align-items-center">
                <!-- begin::navbar navigation toggler -->
                <div class="d-xl-none d-lg-none d-sm-block navigation-toggler">
                    <a href="#">
                        <i class="ti-menu"></i>
                    </a>
                </div>
                <!-- end::navbar navigation toggler -->

                <!-- begin::navbar toggler -->
                <div class="d-xl-none d-lg-none d-sm-block navbar-toggler">
                    <a href="#">
                        <i class="ti-arrow-down"></i>
                    </a>
                </div>
                <!-- end::navbar toggler -->
            </div>
        </div>

    </div>
    <!-- end::header body -->

</div>
<!-- end::header -->

<!-- begin::main content -->
<main class="main-content">
<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
<div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <!-- column -->
                            <div class="col-md-6">
                                <a th:href="@{/listalluser}">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ALL USER</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-info"><i class="icon-people"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">23</a>
                                        </div>
                                    </div>
                                </div></a>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <a th:href="@{/loggedUsersFromSessionRegistry}">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ALL LONGIN USER</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-purple"><i class="icon-folder"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">169</a>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ALL ENVIORNMENT</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-primary"><i class="icon-folder-alt"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">311</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ACTIVE ENVIORNMENT</h5>
                                        <div class="d-flex m-t-30 m-b-20 no-block align-items-center">
                                            <span class="display-5 text-success"><i class="icon-wallet"></i></span>
                                            <a href="javscript:void(0)" class="link display-5 ml-auto">117</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="news-slide m-b-15">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <div class="overlaybg"><img src="../assets/images/news/slide1.jpg" class="img-fluid"></div>
                                        <div class="news-content carousel-caption"><span class="label label-danger label-rounded">Primary</span>
                                            <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a></div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="overlaybg"><img src="../assets/images/news/slide1.jpg"></div>
                                        <div class="news-content carousel-caption"><span class="label label-primary label-rounded">Primary</span>
                                            <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a></div>
                                    </div>
                                    <div class="carousel-item active">
                                        <div class="overlaybg"><img src="../assets/images/news/slide1.jpg"></div>
                                        <div class="news-content carousel-caption"><span class="label label-success label-rounded">Primary</span>
                                            <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="card-body" sec:authorize="hasAuthority('WRITE_PRIVILEGE')" >
        
            
</div>
    

    

</main>
<!-- end::main content -->

<!-- Plugin scripts -->
<script src="resources/vendors/bundle.js"></script>
<!-- DataTable -->
<script src="resources/vendors/dataTable/jquery.dataTables.min.js"></script>
<script src="resources/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
<script src="resources/vendors/dataTable/dataTables.responsive.min.js"></script>
<script src="resources/assets/js/examples/datatable.js"></script>
<!-- Chartjs -->
<script src="resources/vendors/charts/chartjs/chart.min.js"></script>

<!-- Circle progress -->
<script src="resources/vendors/circle-progress/circle-progress.min.js"></script>

<!-- Peity -->
<script src="resources/vendors/charts/peity/jquery.peity.min.js"></script>
<script src="resources/assets/js/examples/charts/peity.js"></script>

<!-- Datepicker -->
<script src="resources/vendors/datepicker/daterangepicker.js"></script>

<!-- Slick -->
<script src="resources/vendors/slick/slick.min.js"></script>

<!-- Vamp -->
<script src="resources/vendors/vmap/jquery.vmap.min.js"></script>
<script src="resources/vendors/vmap/maps/jquery.vmap.usa.js"></script>
<script src="resources/assets/js/examples/vmap.js"></script>
<script src="resources/assets/js/app.min.js"></script>
<!-- Dashboard scripts -->
<script src="resources/assets/js/examples/dashboard.js"></script>
<script type="text/javascript">
function enable2FA(){
    set2FA(true);
}

function disable2FA(){
    set2FA(false);
}

function set2FA(use2FA){
    $.post( "/user/update/2fa", { use2FA: use2FA } , function( data ) {
        if(use2FA){
        	$("#qr").append('<img src="'+data.message+'" />').show();
        }else{
            window.location.reload();
        }
    });
}
</script>
<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<!-- App scripts -->

</body>

<!-- codeface  -->
</html>







<!-- 
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/homepage.html}" th:text="#{label.pages.home.title}">home</a>
    </div> 
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

<div class="container">
	<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
	
    <h1>This is the landing page for the admin</h1>
    
    <div sec:authorize="hasAuthority('READ_PRIVILEGE')">This text is only visible to a user</div>
          
    <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')"> This text is only visible to an admin</div>
    
      <a class="btn btn-default" th:href="@{/admin.html}" th:text="#{label.pages.admin}">admin</a>
      <br/>
      <a class="btn btn-default" th:href="@{/changePassword.html}" th:text="#{message.changePassword}">change password</a>
      <br/>
      <br/>
      <br/>
      
      <div th:if="${#authentication.principal.using2FA}">
        You are using Two-step authentication <a href="#" class="btn btn-primary" onclick="disable2FA()">Disable 2FA</a> 
      </div>
        
      <div th:if="${! #authentication.principal.using2FA}">
        You are not using Two-step authentication <a href="#" class="btn btn-primary" onclick="enable2FA()">Enable 2FA</a> 
      </div>
      
      <br/>
      <div id="qr" style="display:none;">
          <p>Scan this Barcode using Google Authenticator app on your phone 
                 <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and 
                 <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
          </p>
      </div>
  </div>
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
function enable2FA(){
    set2FA(true);
}

function disable2FA(){
    set2FA(false);
}

function set2FA(use2FA){
    $.post( "/user/update/2fa", { use2FA: use2FA } , function( data ) {
        if(use2FA){
        	$("#qr").append('<img src="'+data.message+'" />').show();
        }else{
            window.location.reload();
        }
    });
}
</script>
</body>

</html>

 -->