<!doctype html>
<html>

<!-- codeface  -->
<!--  <head lang="en" th:replace="/fragments/header :: header"> </head> -->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="resources/assets/media/image/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{message.resetPassword}">reset</title>
    <!-- Favicon -->
    <link rel="stylesheet" href="resources/assets/media/image/favicon.png">
    <!-- Plugin styles -->
    <link rel="stylesheet" href="resources/vendors/bundle.css" type="text/css">
    <!-- App styles -->
   <link rel="stylesheet" href="resources/assets/css/app.min.css" type="text/css">

</head>

<body class="form-membership">
<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
</div>
<!-- end::page loader -->

<div class="form-wrapper">
    
    <!-- logo -->
    <div class="logo">
        <img src="resources/assets/media/image/logo-sm.png" alt="image">
    </div>
    <!-- ./ logo -->
    <h5 th:text="#{message.resetPassword}">reset</h5>

    <!-- form -->
    <form action="#">
    	<span id="welcometext">&nbsp;</span>
    	<div class="form-group">
            <input type="email" id="email" class="form-control" th:placeholder="#{label.user.email}" name='email' required autofocus>
        </div>
        
        <button class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
        <hr>
        <p class="text-muted">Don't have an account?</p>
        <a class="btn btn-outline-light btn-sm" th:href="@{/registrationCaptcha.html}" th:text="#{label.form.loginSignUp}">Register now!</a>
        
        <p class="text-muted">Already have an account?</p>
        <a th:href="@{/login}" th:text="#{label.form.loginLink}" class="btn btn-outline-light btn-sm">Sign in!</a>
        
    </form>

</div>
<!-- <div lang="en" th:replace="/fragments/footer :: footer"> </div> -->
<!-- Plugin scripts -->
<script src="resources/vendors/bundle.js"></script>
<!-- App scripts -->
<script src="resources/assets/js/app.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		resetPass(event);
    });
});

function resetPass(event){
    event.preventDefault();	
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>
</body>

<!-- codeface  -->
</html>

